@import "./../utils/variables";
@import "./../utils/mixins";

.btn.btn--wide {
    @include btn(220px);
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        @include btn-hover;
        
    }
}

.btn {
    @include btn;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        @include btn-hover;
    }
}

.btn--position {
    @extend %flex-row;
    justify-content: center;
    padding: 10px 0 55px 0;
}