@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/%placeholders";
@import "./base/font-settings";
@import "./pages/index.scss";

* {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}

figure {
    height: 350px;
    width: 250px;
}

img {
    object-fit: cover;
    width: 100%;
}